.jumbotron
{
    background-image: url("../img/bg.jpg");
    background-size: cover;
    height: %100;
    color: azure;
}

#write-review
{
    margin-left: -50px;
}


#product-price
{
    font-size: 28px;
    color:red;
}