.jumbotron
{
    background-image: url("../img/bg.jpg");
    background-size: cover;
    height: %100;
    color: azure;
}

#write-review
{
    margin-left: -50px;
}
.card-title {
    font-size:16px;
    font-weight:400;
    color:#484848;
    line-height:1.35em;
    height:34px;
}

.product-price{
    color:#414141;
    font-weight:700;
    font-size:15px;
}
.description{
    font-size:12px;
    height:40px;
}
.resim{
    height:contain;
}

#product-details h1{
    font-size:20px;
    font-weight:700;
}




#product-price {
    font-size: 28px;
    color: red;
}