@model IEnumerable<E_Commerce.MvcWebUI2.ViewModel.ProductViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-5 fw-bold">Elden Satılık</h1>
        <p class="col-md-8 fs-4">Elden Satılık ürünlerimi arıyorsunuz ? Doğru yerdesiniz haydi şimdi satıştaki ilanlara göz atalım!</p>
        <hr class="my-4">
        <button class="btn btn-primary btn-lg mb-3" type="button">Click</button>
    </div>
</div>

<div class="container pb-5">
    @Html.Partial("_ProductListPartialView")
</div>

