@model IEnumerable<E_Commerce.MvcWebUI2.ViewModel.ProductViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-5 fw-bold">Hello World</h1>
        <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
        <hr class="my-4">
        <button class="btn btn-primary btn-lg mb-3" type="button">Click</button>
    </div>
</div>

<div class="container pb-5">
    @Html.Partial("_ProductListPartialView")
</div>

